:root{
    --primary: rgba(28, 21, 71, 0.993);
    --secondary: rgba(255, 255, 255, 0.815);
}

/* reset */
*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    display: flex;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to top, #a2c7b7, #09384b);

}

*:focus {
    outline: none;
}

.container{
    transform: skewY(-8deg);

    max-width: 600px;
    background-color: var(--primary) ;
    border-radius: 5px;
    margin: 0 auto;
    overflow: hidden;  

    border: 0px solid white;
    transition: border .27s ease-in-out;
    
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.39);
    background: linear-gradient(to bottom, #857f2f, #000c40); 

}

.container:hover{
    /* background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet) */
    border-width: 8px;
    border-style: solid;
    border-color: white;
}

.container .header{
    transform: skewY(+8deg);
    padding: 20px 20px;
    
    justify-content: flex-end;
    align-items: center;
    display: flex;
    
    color: var(--secondary);
}

.container .imc{
    display: flex;
    min-height: 300px;
    transform: skewY(+8deg);
}

.container .content{
    /* transform: skewY(+8deg); */
    width: 250px;

    color: var(--secondary) ;
    padding: 30px 30px;
    font-size: 20px;
    background-color:  rgba(32, 32, 27, 0);
    text-align: center;    
}

.container .content p{
    margin: 0px 0px;
}

.container .content input{
    height: 25px;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 10px;
}


.container .content button{
    width: 100px;
    height: 40px;
    margin: 5px auto;
    
    background-color: rgb(95, 116, 160);
    color: var(--secondary);

    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.205);

    font-size: 1.2rem;
}

.container .content button:active{
    background-color: rgb(62, 75, 102);
}

.container .description{
    /* transform: skewY(+8deg); */
    width: 350px;
    /* display: none; */
    
    padding: 30px 15px;
    color: var(--secondary);
}

.container .description h2{
    padding: 10px 20px;
    text-align: center;
    font-size: 1.2rem;
}

.container .description p{
    padding: 5px;
    text-align: center;
    
}

.container .description .displayImc{
    width: 200px;
    padding: 20px;
    margin: 0 auto;

    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
    
    background-color: #857f2f;
    border-radius: 50px;
    
}

.container .description .displayImcClass{
    width: 200px;
    padding: 15px;
    margin: 10px auto;

    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
}

/* mobile */

@media screen and (max-width: 600px){

    .container{
        max-width: 350px;
        max-height: 350px;
    
    }    
    .container .header{
        margin: 23px 0;
        padding: 0px 0px;
        justify-content: center;
        font-size: 0.8rem;
    }    
    .container .content{
        padding: 0px 15px;
        font-size: 1.0rem;     
    } 
    .container .description{
        padding: 0px 5px;
    }
    .container .description p{
        font-size: 0.75rem;
        text-align: justify;
        
    }
    .container .description .displayImc{
        width: 150px;
        margin: 20px;
        padding: 10px;
        font-size: 1.2rem;
    }
    .container .description .displayImcClass{
        width: 200px;
        padding: 10px 0px;

        text-align: center;
        font-size: 1.2rem;
    }
}