:root{
    --primary: rgba(28, 21, 71, 0.993);
    --secondary: rgb(224, 221, 230);
}

/* reset */
*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    display: flex;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #a2c7b7, #09384b);

}

.grid{
    display: grid;
    grid-template-columns: repeat(8,1fr);
}

.container{
    max-width: 620px;
    min-height: 500px;
    background-color: var(--primary) ;
    border-radius: 5px;
    margin: 0 auto;
    overflow: hidden;  
    
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.39);
    background: linear-gradient(to bottom, #4d744d, #000c40); 

}

.container h1{
    text-align: center;
    grid-column: 1/9;
    grid-row: 1;
    color: var(--secondary);

    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color:  rgb(133, 127, 47);
    
}

.container .content{
    grid-column: 1/6;
    grid-row: 2;

    color: var(--secondary) ;
    padding: 20px 10px;
    font-size: 20px;
    
}

.container .content p{
}

.container .content input{
    height: 25px;
    width: 100%;
}

.container .content button{
    width: 100px;
    height: 40px;
    
    background-color: cadetblue;
    color: var(--secondary);
    
    border-radius: 10px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.39);

    font-size: 1.3rem;
}

.container .content button{
    width: 100px;
    height: 40px;
    margin: 20px auto;
    
    background-color: rgb(95, 116, 160);
    color: var(--secondary);
    
    border-radius: 10px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.39);

    font-size: 1.3rem;
}

.container .description{
    grid-column: 6/9;
    grid-row: 2;

    padding: 10px;
    /* border: 1px solid black; */
    color: var(--secondary);
}

.container .description h2{
    padding: 10px 20px;
    text-align: center;
    font-size: 1.2rem;
}

.container .description p{
    padding: 5px;
    text-align: justify; 
    
}